




/* Reset default margins and paddings */
html,
body {
  background-color: darkblue;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* Ensure box-sizing is consistent */
}

.App {
  width: 100%;
  height: 100%;
  /* Additional styles to ensure App fills the window */
  display: flex;
  justify-content: center;
  align-items: center;
}
