




/* Reset default margins and paddings */
html,
body {
  background-color: darkblue;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; /* Ensure box-sizing is consistent */
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Fill the full viewport height */
}

.TopBar {
  width: 100%;
  background-color: #333; /* Example background color */
  color: white; /* Text color */
  padding: 10px 0; /* Padding for aesthetic spacing */
  text-align: center; /* Center the title or any content horizontally */
  position: fixed; /* Make it stick at the top */
  top: 0; /* Align to the top */
  z-index: 1000; /* Ensure it's above other content */
}
/* Ensure the viewport container expands to fill available space */
.main {
  flex-grow: 1;
  display: flex; /* Make this a flex container */
  height: 100vh; /* Fill the full viewport height */
  width: 100vw; /* Fill the full viewport height */
}

.colorpicker {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Background for entire container is transparent */
  z-index: 10; /* Ensure it is on top */
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10rem; /* Space between the buttons */
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.placePixelButton, .governPixelsButton {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above other elements */
}



.apps {
  position: absolute;
  top: calc(50px + 1rem);
  right: 1rem;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: transparent; /* Background for entire container is transparent */
  z-index: 10; /* Ensure it is on top */
  height: calc(100vh - 50px - 2rem); /* Adjusted height */
}

.blur-background {
  filter: blur(5px);
}
